html, body {
    overflow: auto;
}

.v-btn, .v-btn__content {
    text-transform: none;
}

.v-item-group.v-bottom-navigation .v-btn.v-size--default {
    height: inherit;
}

.v-bottom-navigation > .theme--light.v-btn.v-btn--has-bg {
    background-color: inherit;
}